*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
header{
    background-color: #202020;
    padding: 0 30px;

}
.flex{
    display: flex;
}
.aic{
    align-items: center;
}
.jus{
    justify-content: space-between;
}
header a{
    color: #fff;
    padding: 10px 15px;
    transition: all .3s ease-in-out;
}
header a:hover{
    background-color: #fff;
    color: #202020;
}
